---
http_interactions:
- request:
    method: get
    uri: https://api.acoustid.org/v2/lookup?client=<ACOUSTID_CLIENT_ID>&duration=&fingerprint=&meta=recordings%20releasegroups%20compress
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error": {"code": 2, "message": "missing required parameter \"duration\""},
        "status": "error"}'
  recorded_at: Tue, 29 Jun 2021 21:22:13 GMT
recorded_with: VCR 3.0.3
